/* AdminLogin.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: black;
    font-weight: bold;
    height: 100vh;
    background-color: #f4f4f4;
    background: url("../../assets/images/cardBgimage.webp") no-repeat center;
}

.login-box {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-logo {
    width: 120px;
    margin-bottom: 20px;
    height: 30px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-button {
    background-color: black !important;
    color: white !important;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    text-transform: none;
    font-size: 16px;
    border-radius: 5px;
}

.login-error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
